---
---

@import "{{ site.theme }}";

body {
  /*font-family: "Proxima Nova Light";*/
    font-family: "georgia";
    font-size: 15px;
    line-height: 1.6;
    /*margin: 70px auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 0px; */
    color: #333;
    background-color: white;
    /*border-style: solid;*/
    border-style: none;
    border-width: 2px;
    border-color: #b6b6b657;
}

h1 {
color: #333
}

.row{
  min-height:450px;
}
.column {
  float: left;
}

.left{
  color: #888;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 30px;
  /*background-color:#F5F5F5;*/
  padding-left: 0ch;
  min-width: 100px;
  /*width: 350px;*/
  width: 100%;
  text-align: center;
  /*margin-top:-20px;*/
}

.right{
  /*width: calc(75% - 100px);*/
  width: 90%;
  padding-left: 5%;
  min-width: 300px;
  padding-top: 10px;
  /*max-width:330px;*/
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  /*min-width: 600px;*/
  min-width: 350px;
  padding: 12px;
  padding-bottom: 0;
}

section{
  margin-top: 10px;
  padding-bottom: 0px;
}

section #title {
  max-width:400px;
}

/* Current Page Marker */
currentpage {
  display:inline;
}

pagename:after{
  content:" ";
  white-space: pre;  
}

section #navbanner{
  margin-top: 30px;
  margin-bottom: 10px;
  bottom: 0;
  position:absolute;
  text-align: right;
}


section #navbanner a{
  color: #333;
}

@media only screen and (min-width: 630px) {
  .right{
    width:75%;
    padding-top: 0px;
    /*max-width:495px;*/
  }
  .left{
    width:15%;
    padding-left: 2ch;
    text-align: left;
  }
  currentpage {
  margin-left:-1em; 
  vertical-align:0.1em;
}
  currentpage:before {
  content:" ■ ";
}
  pagename:after{
  content:" \A ";
  white-space: pre;  
}
  section #navbanner{
    position:relative;
    margin-top: -30px;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 905px) {
.wrapper {
    max-width: 1150px;
    margin: 20px 70px;
    position: relative;
    padding: 24px 60px 24px 60px;
}
  .right{
    /*max-width:1150px;*/
    width:75%;
    padding-top: 0px;
  }
  .left{
    width:15%;
    padding-left: 2ch;
    text-align: left;
  }
  currentpage {
    margin-left:-1em;
    vertical-align:0.1em;
}
  currentpage:before {
  content:" ■ ";
}
  section{
    max-width:1150px;
  }
  section #title {
  max-width:1500px;
}
  pagename:after{
  content:" \A ";
  white-space: pre;  
  }
  section #navbanner{
    position:relative;
    margin-top: -30px;
    margin-bottom: 60px;
  }
}

section #title h1 {
    font-family: "futura";
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -30px;
}

section #title p {
    color: #888;
    /*font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "futura";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: -20px;
}

a {
    color: #ff7a00;
    font-weight: 400;
    text-decoration: none;
}

p {
    margin: 0 0 20px;
}

section #title .credits {
    font-size: 14px;
    font-family: 'proxima-nova';
    font-weight: normal;
    color: #888;
    margin-top: 0px;
}

/* Make a tab tag */
tab1 { padding-left: 1em; }



