---
---

@import "{{ site.theme }}";

body {
  /*font-family: "Proxima Nova Light";*/
    font-family: "georgia";
    font-size: 15px;
    line-height: 1.6;
    /*margin: 70px auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 0px; */
    color: #333;
    background-color: white;
    /*border-style: solid;*/
    border-style: none;
    border-width: 2px;
    border-color: #b6b6b657;
  min-width: 50em;
}

h1 {
color: #333
}


.wrapper {
  max-width: 700px;
  padding: 12px;
  padding-bottom: 0;
}

@media only screen and (min-width: 481px) {
.wrapper {
    max-width: 1150px;
    min-width: 250px;
    margin: 20px 70px;
    position: relative;
    padding: 24px 60px 24px 60px;
}
}

section{
  max-width: 1150px;
  margin-top: 10px;
}

section #title h1 {
    font-family: "futura";
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -30px;
}

section #title p {
    color: #888;
    /*font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "futura";
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: -20px;
}

a {
    color: #ff7a00;
    font-weight: 400;
    text-decoration: none;
}

p {
    margin: 0 0 20px;
}

section #title .credits {
    font-size: 14px;
    font-family: 'proxima-nova';
    font-weight: normal;
    color: #888;
    margin-top: 0px;
}

.row{
  min-width:65em;
}

.column {
  float: left;
}

.left{
  width: 8em;
  color: #888;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 30px;
  background-color:#F5F5F5;
  padding-left: 1.5em;
}

.right{
  width: 60%;
  padding-left: 5%;
  min-width:10em;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Make a tab tag */
tab1 { padding-left: 1em; }

/* Current Page Marker */
currentpage {
  content:" ■ ";
  margin-left:-1em;
  display:inline;
}
